/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  margin-top: 0;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(103, 132, 186);
  color: white;
  text-align: center;
}

.body1 {
  height: 100vh;
  margin: 0%;
  text-align: center;
  padding: auto;
  background-color: rgba(238, 108, 108, 0.762);
}

.color {
  background-color: rgb(119, 117, 117);
}

.card {
  padding-top: 100px;
  margin: 0%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(119, 117, 117);
}